<div>
	  <div class="slider">
    <ul class="slides z-depth-3" id="slider-wrapper">
      <li>
        <video id="video-elem" loop autoplay muted poster="/assets/workspace.jpg">
            <source src="/assets/v-bg.mp4" type="video/mp4">
        </video>
        <div id="vtext" class="col s12 container center-align"><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br>
          <h4 class="light white-text text-lighten-3">We Create Outstanding </h4>
          <h1 class="light white-text text-lighten-3">Brands, Website & Marketing Campaign</h1>
          <br><br>

          <a href="#"><button id="vbtn" class="btn btn-success btn-sm waves-effect waves-light"><i class="material-icons">phone</i>   Talk to us</button></a>      
        </div>
      </li>

      <li>
        <video id="video-elem" loop autoplay muted >
          <source src="/assets/Creative.mp4" type="video/mp4">
        </video>
      
      </li>
    </ul>
  </div>
</div>
<script type="text/javascript">
  $(document).ready(function(){
    $('.slider').slider({full_width: true});
    $('.slider').slider({height: 1000});
        });
</script>
