<div>
	  <div class="slider">
    <ul class="slides" id="slider-wrapper">
      <li>
        <video id="video-elem" loop autoplay muted >
            <source src="/assets/Creative.mp4" type="video/mp4">
        </video>
        <div id="vtext" class="container center-align"><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br>
          <h3 class="light white-text text-lighten-3">We Create Outstanding </h3>
          <h4 class="light white-text text-lighten-3">Brands, Website & Marketing Campaign</h4>
          <br><br>

          <a href="#"><button id="vbtn" class="btn btn-success btn-sm waves-effect waves-light"><span class="glyphicon glyphicon-ok"></span>  Talk to us</button></a>      
        </div>
      </li>

      <li>
        <video id="video-elem" loop autoplay muted >
          <source src="/assets/Creative.mp4" type="video/mp4">
        </video>
      
      </li>
    </ul>
  </div>
</div>
  <script type="text/javascript">
    $(document).ready(function(){
      $('.slider').slider({full_width: true});
      $('.slider').slider({height: 900});
          });
  </script>
