<div>
	  <div class="slider">
    <ul class="slides">
      <li>
        <img src="/assets/slide1.png"> <!-- random image -->
        <div class="container caption center-align">
          <h3>We Create Outstanding </h3>
          <h4 class="light white-text text-lighten-3">Brands, Website & Marketing Campaiagn</h4>
          <a class="waves-effect waves-light btn"><i class="material-icons right">cloud</i>Talk to us</a>
          <br><br><br>
          <p>To create outstading web is not an easy thing</p>
        
        </div>
      </li>
      <li>
        <img src="/assets/slide1.png"> <!-- random image -->
        <div class="container caption left-align">
          <h3>Left Aligned Caption</h3>
          <h5 class="light grey-text text-lighten-3">Here's our small slogan.</h5>
          <h5 class="light grey-text text-lighten-3 center-align">Here's our small slogan.</h5>
          <h5 class="light grey-text text-lighten-3">Here's our small slogan.</h5>
        </div>
      </li>
      <li>
        <img src="/assets/slide1.png"> <!-- random image -->
        <div class="container caption right-align">
          <h3>Right Aligned Caption</h3>
          <h5 class="light grey-text text-lighten-3">Here's our small slogan.</h5>
        </div>
      </li>
      <li>
        <img src="/assets/slide1.png"> <!-- random image -->
        <div class="container caption center-align">
          <h3>This is our big Tagline!</h3>
          <h5 class="light grey-text text-lighten-3">Here's our small slogan.</h5>
        </div>
      </li>
    </ul>
  </div>
  <script type="text/javascript">
    $(document).ready(function(){
      $('.slider').slider({full_width: true});
    });
  </script>
</div>