<div>
	  <div class="slider">
    <ul class="slides">
      <li>
        <img src="/assets/office-1024x639.png"> <!-- random image -->
        <div class="container caption center-align"><br><br><br>
          <h3>We Create Outstanding </h3>
          <h4 class="light white-text text-lighten-3">Brands, Website & Marketing Campaiagn</h4>
          <br><br>
          <a class="waves-effect waves-light btn"><i class="material-icons right">cloud</i>Talk to us now</a>
        
        </div>
      </li>
      <li>
        <img src="/assets/office-1024x639.png"> <!-- random image -->
        <div class="container caption center-align"><br><br><br>
          <h3>We Love Creativity</h3>
          <h5 class="light grey-text text-lighten-3">we have the expertise </h5>
          <h5 class="light grey-text text-lighten-3">to transform the look of your website.</h5>
          <h5 class="light grey-text text-lighten-3">with our magical skills.</h5>
        </div>
      </li>
      <li>
        <img src="/assets/office-1024x639.png"> <!-- random image -->
        <div class="container caption center-align"><br><br><br>
          <h3>all things digital </h3>
          <h4 class="light grey-text text-lighten-3">with quality results everytime.</h4>
        </div>
      </li>
    </ul>
  </div>
  <script type="text/javascript">
    $(document).ready(function(){
      $('.slider').slider({full_width: true});
      $('.slider').slider({height: 700});

          });
  </script>
</div>