/ %div
/   .slider
/     %ul#slider-wrapper.slides
/       %li
/         %video#video-elem.center-align>
/         autoplay muted poster="/assets/workspace.jpg"&gt;
/         %source{:src => "/assets/v-bg.mp4", :type => "video/mp4"}
/         #vtext.col.s12.container.center-align
/           %br
/             %br
/               %br
/                 %br
/                   %br
/                     %br
/                       %br
/                         %br
/                           %br
/                             %br
/                               %br
/                                 %br
/                                   %br
/                                     %br
/                                       %br
/                                         %br
/                                           %br
/                                             %h4.light.white-text.text-lighten-3 We Create Outstanding
/                                             %h1.light.white-text.text-lighten-3 Brands, Website  Marketing Campaign
/                                             %br
/                                               %br
/                                                 %a{:href => "#"}
/                                                   %button#vbtn.btn.btn-success.btn-sm.waves-effect.waves-light
/                                                     %i.material-icons phone
/                                                     Talk to us
/                                                 %br
/                                                   %br
/                                                     %br
/                                                       %br
/                                                         %br
/                                                           %br
/                                                             %br
/                                                               %br
/                                                                 %br
/                                                                   %br
/                                                                     %br
/                                                                       %br
/                                                                         %br
/                                                                           %br
/                                                                             %br
/                                                                               %br
/                                                                                 %br
/                                                                                   %div
/                                                                                     %a.scroll-down{:href => "#", :target => "_self", :title => "button"}
/                                                                                       %i.fa.fa-angle-down.scroll-down-icon
/                                                                               %li
/                                                                                 %video#video-elem>
/                                                                                 autoplay muted &gt;
/                                                                                 %source{:src => "/assets/Creative.mp4", :type => "video/mp4"}
/                                                                         :javascript
/                                                                           $(document).ready(function(){
/                                                                             $('.slider').slider({full_width: true});
/                                                                             $('.slider').slider({height: 1000});
                                                                            
/                                                                           });
