

<!--Holding Container for Services -->

<div id="services" class="container section scrollspy">
	<div class="row" id="image-test">
				<div class="col s12  m4 l4 center-align">
				  <div class="card fade1">
				    <div class="card-image waves-effect waves-block waves-light">
				      <img class="activator" src="/assets/Services-3.png">
				    </div>
				    <div class="card-content">
				      <span class="card-title activator grey-text text-darken-4">Web Design<i class="material-icons right">more_vert</i></span>
				      <p><a href="#">This is a link</a></p>
				    </div>
				    <div class="card-reveal">
				      <span class="card-title grey-text text-darken-4">txt<i class="material-icons right">close</i></span>
				      <p>Here is some more information about this product that is only revealed once clicked on.</p>
				    </div>
				  </div>
							
				</div>
				<div class="col s12 m4 l4 center-align">
				  <div class="card fade2">
				    <div class="card-image waves-effect waves-block waves-light">
				      <img class="activator" src="/assets/Services-1.png">
				    </div>
				    <div class="card-content">
				      <span class="card-title activator grey-text text-darken-4">Marketing<i class="material-icons right">more_vert</i></span>
				      <p><a href="#">This is a link</a></p>
				    </div>
				    <div class="card-reveal">
				      <span class="card-title grey-text text-darken-4">txt<i class="material-icons right">close</i></span>
				      <p>Here is some more information about this product that is only revealed once clicked on.</p>
				    </div>
				  </div>

				</div>

				<div class="col s12  m4 l4 center-align">
				  <div class="card fade3">
				    <div class="card-image waves-effect waves-block waves-light">
				      <img class="activator" src="/assets/Services-4.png">
				    </div>
				    <div class="card-content">
				      <span class="card-title activator grey-text text-darken-4">Branding<i class="material-icons right">more_vert</i></span>
				      <p><a href="#">This is a link</a></p>
				    </div>
				    <div class="card-reveal">
				      <span class="card-title grey-text text-darken-4">Card Title<i class="material-icons right">close</i></span>
				      <p>Here is some more information about this product that is only revealed once clicked on.</p>
				    </div>
				  </div>

				
				</div>
				
	</div><!-- End of container with Z-depth -->
</div><!-- End of container -->

<div id="contact" class="container section scrollspy">
	<div class="row z-depth-1" id="cards">
		<br>
		<h3 class="center-align">We Create Monster Material Design</h3>
		<br><br>
		<div class="col s12 m6 l6">
			  <div class="card medium blue-grey darken-1">
	            <div class="card-content white-text">
	              <span class="card-title">Card Title</span>
	              <p>I am a very simple card. I am good at containing small bits of information.
	              I am convenient because I require little markup to use effectively.</p>
	            </div>
	            <div class="card-action">
	              <a href="#">This is a link</a>
	              <a href="#">This is a link</a>
	            </div>
	          </div>
		</div>
		<div class="col s12 m6 l6">
			<div class="card medium">
				<div class="card-image waves-effect waves-block waves-light">
					<img class="activator" src="/assets/news-2.png">
				</div>
				<div class="card-content">
					<span class="card-title activator grey-text text-darken-4">Card Title<i class="material-icons right">more_vert</i></span>
					<p><a href="#">This is a link</a></p>
				</div>
				<div class="card-reveal">
					<span class="card-title grey-text text-darken-4">Card Title<i class="material-icons right">close</i></span>
					<p>Here is some more information about this product that is only revealed once clicked on.</p>
				</div>
			</div>
			<br>
		</div>
	</div>
</div>

 <div class="parallax-container valign-wrapper">
      <div class="parallax"><img src="/assets/workspace.jpg"></div>
      <div class="container caption center-align">
		<h3 class="valign">We are your best choice</h3>
		<h5 class="valign light grey-text text-lighten-3">orem Ipsum is simply dummy text of the printing and typesetting industry.</h5>
		</div>
    </div>

<script>
	  $(document).ready(function(){
      $('.parallax').parallax();
    });
      
</script>
