<div id="contact-form" class="container">
	<div id="contact"><h1 class="center-align">SEND US MESSAGE</h1></div>
		<form class="col s12">
		  <div class="row">
		    <div class="input-field col s6">
		      <input id="first_name" type="text" class="validate">
		      <label for="first_name">First Name</label>
		    </div>
		    <div class="input-field col s6">
		      <input id="last_name" type="text" class="validate">
		      <label for="last_name">Last Name</label>
		    </div>
		  </div>
		  	<br>
		  <div class="row">
		    <div class="input-field col s6">
		      <input id="email" type="email" class="validate">
		      <label for="email">Email</label>
		   </div>
		   <div class="input-field col s6">
		      <input id="telephone" type="text" class="validate">
		      <label for="telephone">Telephone</label>
		    </div
		  </div>
		  	<br>
		  <div class="row">
	        <div class="input-field col s12">
	          <textarea id="textarea1" class="materialize-textarea"></textarea>
	          <label for="textarea1">Message</label>
	        </div>
	      </div>
	      <br>
	      <button class="btn waves-effect waves-light" type="submit" name="action">Send Message
	   		 <i class="material-icons right">send</i>
	  	  </button>
		</form>
	</div>
	<br><br>
</div>
<script>
    //$('#textarea1').val('Write Your Message here');
 	$('#textarea1').trigger('autoresize');  
</script>