<div class="h-line"></div>
<section id="welcome" class="container">
	<h4 class="center-align">WE DESIGN WEBSITE THAT TELLS YOUR BUSINESS STORY</h4>
	<div class="row">
		<div class="col s12 m7 l6">
			<img src="/assets/devices.png" class="responsive-img">
		</div>
		<div class="col s12 m5 l6">
			<p class="text-flow center-align">We beautifully design website that are user friendly and easy to convert visitors into customers, Creating website that stands out from your competitors helps convince your potential customers to do business with you</p>
		</div>
	</div>
</section>
<section class="row">
	<div class="col s12 m6 l6 hero-inner1">
		<h4>BESPOKE, MOBILE FRIENDLY DESIGN</h4>
		<p>There are many ways you can create a website for your business, but if you opt for our web design service you will get a professionally designed website to your exact requirements.

Whilst the functionality of our packages is fixed, the design is completely bespoke and we don't use templates. The website is designed by our in-house UK team and we offer unlimited revisions until you're happy.

All our websites are responsive (mobile friendly). Responsive websites allow a site to adapt to different screen sizes, so you can offer visitors the best possible experience.</p>
	</div>
	<div class="col s12 m6 l6 hero-inner2">
		<img src="/assets/6.jpg" class="responsive-img">
	</div>

</section>
<!--Holding Container for Services -->

<div id="services" class="center-align container responsive">
	<h4>THINGS WE CAN DO FOR YOU</h4>
</div>
<div id="welcome"  class="container section scrollspy">
	<div class="row" id="image-test">
				<div class="col s12  m4 l4 center-align">
				  <div class="card medium fade1">
				    <div class="card-image waves-effect waves-block waves-light">
				      <img class="activator" src="/assets/Services-3.png">
				    </div>
				    <div class="card-content">
				      <span class="card-title activator grey-text text-darken-2">Web Design<i class="material-icons right">more_vert</i></span>
				      
				    </div>
				    <div class="card-reveal">
				      <span class="card-title grey-text text-darken-2">Web Design & Development<i class="material-icons right">close</i></span>
				      <p>We beautifully design website that are user friendly and easy to convert visitors into customers, Creating website that stands out from your competitors helps convince your potential customers to do business with you</p>
				      <a class="waves-effect waves-light btn">See More</a>
				    </div>
				  </div>
							
				</div>
				<div class="col s12 m4 l4 center-align">
				  <div class="card medium fade2">
				    <div class="card-image waves-effect waves-block waves-light">
				      <img class="activator" src="/assets/Services-1.png">
				    </div>
				    <div class="card-content">
				      <span class="card-title activator grey-text text-darken-2">Marketing<i class="material-icons right">more_vert</i></span>
				
				    </div>
				    <div class="card-reveal">
				      <span class="card-title grey-text text-darken-2">Marketing<i class="material-icons right">close</i></span>
				      <p>We really care about our clients and go the extra mile to ensure we hit their targets and goals. We know that we do a good job, but we love it when our clients think so too.</p>
				      <a class="waves-effect waves-light btn">See More</a>
				    </div>
				  </div>

				</div>

				<div class="col s12  m4 l4 center-align">
				  <div class="card medium fade3">
				    <div class="card-image waves-effect waves-block waves-light">
				      <img class="activator" src="/assets/Services-4.png">
				    </div>
				    <div class="card-content">
				      <span class="card-title activator grey-text text-darken-2">Branding<i class="material-icons right">more_vert</i></span>
				  
				    </div>
				    <div class="card-reveal">
				      <span class="card-title grey-text text-darken-2">Branding Solution<i class="material-icons right">close</i></span>
				      <p>we understand how important it is to create an effective and recognisable brand.

						Consumers respond to simple, clean-cut and quality design; this reflects how your brand is perceived. </p>
						 <a class="waves-effect waves-light btn">See More</a>
				    </div>
				  </div>

				
				</div>
				
	</div><!-- End of container with Z-depth -->
</div><!-- End of container -->

<div id="contact" class="container section scrollspy">
	<div class="row z-depth-1" id="cards">
		<br>
		<h4 class="center-align">WE CREATE BEAUTIFUL WEBSITE AND ECOMMERCE</h4>
		<br><br>
		<div class="col s12 m6 l6">
			  <div class="card medium blue-grey darken-1">
	            <div class="card-content white-text">
	              <span class="card-title">Card Title</span>
	              <p>I am a very simple card. I am good at containing small bits of information.
	              I am convenient because I require little markup to use effectively.</p>
	            </div>
	            <div class="card-action">
	              <a href="#">Click here</a>
	              
	            </div>
	          </div>
		</div>
		<div class="col s12 m6 l6">
			<div class="card medium">
				<div class="card-image waves-effect waves-block waves-light">
					<img class="activator" src="/assets/news-2.png">
				</div>
				<div class="card-content">
					<span class="card-title activator grey-text text-darken-4">Card Title<i class="material-icons right">more_vert</i></span>
					<p><a href="#">This is a link</a></p>
				</div>
				<div class="card-reveal">
					<span class="card-title grey-text text-darken-4">Card Title<i class="material-icons right">close</i></span>
					<p>Here is some more information about this product that is only revealed once clicked on.</p>
				</div>
			</div>
			<br>
		</div>
	</div>
</div>

 <div class="parallax-container valign-wrapper">
      <div class="parallax"><img src="/assets/workspace.jpg"></div>
      <div class="container caption center-align">
		<h3 class="valign">We are your best choice</h3>
		<h5 class="valign light grey-text text-lighten-3">orem Ipsum is simply dummy text of the printing and typesetting industry.</h5>
		</div>
    </div>

<script>
	  $(document).ready(function(){
      $('.parallax').parallax();
    });
      
</script>
