%footer.page-footer
  .footer-copyright
    .container
      © 2016 Copyright Onklick Media
      %a.grey-text.text-lighten-4.right{:href => "#!"} More Links
  %div
    .fixed-action-btn.vertical.click-to-toggle{:style => "bottom: 45px; right: 24px;"}
      %a.btn-floating.btn-large.red
        %i.large.mdi-navigation-menu
      %ul
        %li
          %a.btn-floating.red
            %i.material-icons insert_chart
        %li
          %a.btn-floating.yellow.darken-1
            %i.material-icons format_quote
        %li
          %a.btn-floating.green
            %i.material-icons publish
        %li
          %a.btn-floating.blue
            %i.material-icons attach_file
