#footer-nav.navbar-fixed-bottom
  .footer-copyright.row
    #copyright.container.col.s8
      %p © 2016 Onklick Allright Reserved
    .top-page.col.s4
      .link-top
        %a.page-scroll.right{:href => "#page-top"} Top
  / floating button start here
  .fixed-action-btn.vertical{:style => "bottom: 65px; right: 40px;"}
    %a.btn-floating.btn-med.red
      %i.large.mdi-navigation-menu
    %ul
      %li
        %a.btn-floating.red
          %i.fa.fa-google-plus
      %li
        %a.btn-floating.yellow.darken-1
          %i.fa.fa-linkedin
      %li
        %a.btn-floating.green
          %i.fa.fa-twitter
      %li
        %a.btn-floating.blue{:href => "https://www.facebook.com/Miscotech-Computer-Services-143932488954992/?fref=ts", :target => "blank"}
          %i.fa.fa-facebook
  / end of floating button
