#header.valign-wrapper
	#inner-header.center-align.container
		%img.responsive-img{:src => "/assets/small_webdesign.png"}
		%h4.light.white-text.text-lighten-3 We Create Outstanding
		%h1.light.white-text.text-lighten-3.text-flow Brands, Website  Marketing Campaign
		/= link_to "read more", "#", class: "waves-effect, waves-light, btn"
		%a.waves-effect.waves-light.btn{:href => "#"} read more


