<div id="header" class="row valign-wrapper">
	<div id="inner-header" class="center-align container">
		<img src="/assets/small_webdesign.png" class="responsive-img">
		 <h4 class="light white-text text-lighten-3">We Create Outstanding </h4>
		<h1 class="light white-text text-lighten-3 text-flow">Brands, Website & Marketing Campaign</h1>
		<a class="waves-effect waves-light btn" href="#"><i class="material-icons large left">pageview</i>Learn more</a>
	</div>
	
</div>