<div class="row">
	<div class="parallax-container">
		<div class="parallax responsive-img"><img src="/assets/Slider4.png"></div>
        <div class="container caption left-align">
          	<h3>Looking for a Beautiful Website ?</h3>
          	<h5 class="light grey-text text-lighten-3">orem Ipsum is simply dummy text of the printing and typesetting industry.</h5>
          	<a class="waves-effect waves-light btn"><i class="material-icons right">done</i>button</a>
        </div>
	</div>
</div>