.hide-on-small-up.video-bg-wrapper
  %video#video-elem.responsive-video{:autoplay => "", :loop => "", :muted => ""}
    %source{:src => "/assets/Creative.mp4", :type => "video/mp4"}
#text-caption
  %h3 WE CREATE OUTSTANDING BRAND, WEBSITE AND MARKETING CAMPAIGN
  %h6 ONKLICK MEDIA
