<div class="hide-on-small-only">
  <video class="responsive-video" loop autoplay muted >
    <source src="/assets/IMGP7101.mp4" type="video/mp4">
    	<div class="caption center-align">
    		<h3>WE CREATE OUTSTANDING BRAND, WEBSITE AND MARKETING CAMPAIGN </h3>
    		<h6>ONKLICK MEDIA</h6>
    	</div>
  </video>
</div>