.market-wrapper
	.market-inner
		.dot-cover
			.text-caption.container.left-align
				%h1.left-align MARKETING.
				%hr.left-align
				%p WE DESIGN GREATE MARKETING CAMPAIGN

.market-body
	.inner-body
		.text-caption.container.text-center
			%h1 marketing differently.
			%hr
			%p.text-flow Digital, especially mobile, encompasses most everyday aspects of our lives – it’s important to utilise every status, video, pin, tweet, post and more to get in touch with customers. Your potential customers are always just around the corner and you can target them 24/7…
			%p Want-to-know moments: When you’re watching a movie and you can’t figure out where you recognise that actor from – so you “Google it!” Consumers have a world of knowledge at their fingertips so they can research anything they like…when they like. Want-to-go moments: Location-based searches, especially nearby facilities such as restaurants and bars, are very popular with a wide demographic. Want-to-do moments: Practical how-to marketing created for users who want to try it out for themselves. This could be cookery, DIY and crafts via video marketing, infographics, an interactive content piece or even just a static blog. Want-to-buy moments: From everyday items such as toilet roll to bigger items such as gig tickets, people can purchase just about anything online. Customers are constantly connected, so they can make quick purchases on the spot or make an informed decision using mini moments on their smartphone throughout the day.
.row.marketing-style
	.container.style-container
		.social-content
			%p Social media marketing is one of the fastest growing solutions, this platform will help in optimising your business, it also help generate customers response from all over the world.
		.col.s6.m6.l3.email-marketing.tab
			%i.fa.fa-envelope-o
			%p.text-center Email marketing techniques – 
		.col.s6.m6.l3.twitter.tab
			%i.fa.fa-twitter
			%p.text-center Creating Twitter contents & post – 
		.col.s6.m6.l3.facebook.tab
			%i.fa.fa-facebook
			%p.text-center Facebook page management–
		.col.s6.m6.l3.linkedin.tab
			%i.fa.fa-linkedin
			%p.text-center Linkedin professional profile – 
	#email.container
		.row
			.col.s12.m6.l6.email-pix
			.col.s12.m6.l6.email-text
				%h2 Email Marketing
				%p Email marketing strategy should be part of your marketing and business plan. The use of this marketing solution can help you promote your products and services with uttermost chances of reaching your profit margin and goals. This effective method of marketing plays an important role by recognising who your target customers, their preferences and their online behaviour towards products and services of interest, in which email marketing will directly lead them to your services
	#twitter.container
		.row
			.col.s12.m6.l6.twitter-text
				%h2 Twitter Account
				%p THIS IS JUST A TEXT FOR TWITTER Gmail Sponsored Promotions (GSPs) are a new form of highly-targeted online advertising within the Google platform, whereby advertising campaigns are conducted based on your recent email behaviour and online purchases
			.col.s12.m6.l6.twitter-pix	
	#facebook.container
		.row
			.col.s12.m6.l6.facebook-pix
			.col.s12.m6.l6.facebook-text
				%h2 Facebook Page
				%p THIS IS JUST A TEXT FOR FACEBOOK Gmail Sponsored Promotions (GSPs) are a new form of highly-targeted online advertising within the Google platform, whereby advertising campaigns are conducted based on your recent email behaviour and online purchases
	#linkedin.container
		.row
			.col.s12.m6.l6.linkedin-text
				%h2 Linkedin Profile
				%p THIS IS JUST A TEXT FOR LINKEDIN Gmail Sponsored Promotions (GSPs) are a new form of highly-targeted online advertising within the Google platform, whereby advertising campaigns are conducted based on your recent email behaviour and online purchases
			.col.s12.m6.l6.linkedin-pix
= render 'partials/company_image'	




