.market-wrapper
	.market-inner
		.dot-cover
			.text-caption.container.left-align
				%h1.left-align MARKETING.
				%hr.left-align
				%p WE DESIGN GREATE MARKETING CAMPAIGN

.market-body
	.inner-body
		.text-caption.container.text-center
			%h1 marketing differently.
			%hr
			%p.text-flow Digital, especially mobile, encompasses most everyday aspects of our lives – it’s important to utilise every status, video, pin, tweet, post and more to get in touch with customers. Your potential customers are always just around the corner and you can target them 24/7…
			%p Want-to-know moments: When you’re watching a movie and you can’t figure out where you recognise that actor from – so you “Google it!” Consumers have a world of knowledge at their fingertips so they can research anything they like…when they like. Want-to-go moments: Location-based searches, especially nearby facilities such as restaurants and bars, are very popular with a wide demographic. Want-to-do moments: Practical how-to marketing created for users who want to try it out for themselves. This could be cookery, DIY and crafts via video marketing, infographics, an interactive content piece or even just a static blog. Want-to-buy moments: From everyday items such as toilet roll to bigger items such as gig tickets, people can purchase just about anything online. Customers are constantly connected, so they can make quick purchases on the spot or make an informed decision using mini moments on their smartphone throughout the day.
.row.marketing-style
	.container.style-container
		.col.s12.m6.l3.email-marketing
			%i.fa.fa-envelope-o
			%p.text-center Digital, especially mobile, encompasses most everyday aspects of our lives – 
		.col.s12.m6.l3.twitter
			%i.fa.fa-twitter
			%p.text-center Digital, especially mobile, encompasses most everyday aspects of our lives – 
		.col.s12.m6.l3.facebook
			%i.fa.fa-facebook
			%p.text-center Digital, especially mobile, encompasses most everyday aspects of our lives –
		.col.s12.m6.l3.linkedin
			%i.fa.fa-linkedin-square
			%p.text-center Digital, especially mobile, encompasses most everyday aspects of our lives – 

= render 'partials/company_image'			