#page-top.navbar-fixed{"data-spy" => "scroll"}
  %nav#nagbar{:role => "navigation"}
    %a.button-collapse.show-on-large{"data-activates" => "slide-out", :href => "#"}
      %i.material-icons.menu menu
      / %i.material-icons.clear clear
    .nav-wrapper.page-scroll
      %a.brand-logo{:href => "/"}
        %img{:src => "/assets/header_logo_white.png"}/
      %ul.right
        %li.hidden
          %a.page-scroll{:href => "#page-top"}
        %li.call-us
          %h6 <span style ="padding-top: 5px; margin-top: 0px; color: #fff; letter-spacing: 2px; display: inline-block;"><strong>Call 020 7635 2679</strong></span>
          %h6.small.text-center <span style ="padding: 0px; margin: 0px; display: inline-block; font-size: 10px;">office open monday-friday</span>
        / %li.top
        /   %a.page-scroll{:href => "/"}
        /     %i.large.material-icons home
        / %li.top
        /   /%a.tooltipped.calls{"data-delay" => "50", "data-position" => "bottom", "data-tooltip" => "Tel: 020 7635 2679, Mob: 07853 292 983"}
        /   %a{:onclick => "Materialize.toast('<h2><strong>Tel: 020 7635 2679, Mob: 07853 292 983</strong></h2>', 8000 )"}
        /     %i.large.material-icons call
        / %li.top
        /   /%a.tooltipped.calls{"data-delay" => "50", "data-position" => "bottom", "data-tooltip" => "Email Us: design@miscotech.co.uk"}
        /   %a{:onclick => "Materialize.toast('<h2><strong>Email Us: design@miscotech.co.uk</strong></h2>', 8000 )"}
        /     %i.large.material-icons email
        %li
          %a.button.btn.waves-effect.waves-light.page-scroll{:href => "#page-top"} <span class="text-center" style = "font-size: 14px; letter-spacing: 1px;">Get a Quote</span>
      %ul#slide-out.side-nav
        .chip-contianer.center-align
          %a.brand-logo{:href => "/"}
            %img{:src => "/assets/header_logo_white.png"}
        .sidebar-nav.center
          %li.hidden
            %a.page-scroll{:href => "#page-top"}
          %li.but.first
            %a.page-scroll{:href => "/#company"} COMPANY
          %li.but.second
            %a.page-scroll{:href => "/#services"} SERVICES
          %li.but.third
            %a.page-scroll{:href => "/#contact-f"} CONTACT
          %li.but.forth
            %a.page-scroll{:href => "/web"} WEB DESIGN
          %li.but.fifth
            %a.page-scroll{:href => "/marketing"} MARKETING
          %li.but.sixth
            %a.page-scroll{:href => "#"} BRANDING
        / Switch

:javascript
  $(".button-collapse").sideNav();
  
    $(window).scroll(function() {
      if ($(".navbar").offset().top > 50) {
          $(".navbar-fixed-top").addClass("top-nav-collapse");
      } else {
          $(".navbar-fixed-top").removeClass("top-nav-collapse");
      }
  });
  
  $(function() {
      $('a.page-scroll').bind('click', function(event) {
          var $anchor = $(this);
          $('html, body').stop().animate({
              scrollTop: $($anchor.attr('href')).offset().top
          }, 1500, 'easeInOutExpo');
          event.preventDefault();
      });
  });

   $(document).ready(function(){
    $('.tooltipped').tooltip({delay: 50});
  });
  
      //$('.button-collapse').sideNav({
       // menuWidth: 200,
        //menuHeight: 300, // Default is 240
       // edge: 'right', // Choose the horizontal origin
       // closeOnClick: true // Closes side-nav on <a> clicks, useful for Angular/Meteor
     // }
   // );
