<div class="navbar-primary ">
  <nav id="nav-bar">
    <div class="nav-wrapper container">
      <a href="#!" class="brand-logo"><img src="/assets/my_logo.png"></a>
      <a href="#" data-activates="slide-out" class="button-collapse"><i class="material-icons">menu</i></a>
      <ul class="right hide-on-med-and-down">
        <li><a href="mobile.html">HOME</a></li>
        <li><a href="sass.html">SERVICES</a></li>
        <li><a href="badges.html">COMPANY</a></li>
        <li><a href="collapsible.html">CONTACT</a></li>
        
      </ul>
      <ul id="slide-out" class="side-nav">
        <li><a href="mobile.html">HOME</a></li>
        <li><a href="sass.html">SERVICES</a></li>
        <li><a href="badges.html">COMPANY</a></li>
        <li><a href="collapsible.html">CONTACT</a></li>
      </ul>
    </div>
  </nav>
</div>
<script>
  $(".button-collapse").sideNav();

    //$('.button-collapse').sideNav({
     // menuWidth: 200,
      //menuHeight: 300, // Default is 240
     // edge: 'right', // Choose the horizontal origin
     // closeOnClick: true // Closes side-nav on <a> clicks, useful for Angular/Meteor
   // }
 // );
      
</script>