<div id="page-top" data-spy="scroll" class="navbar-fixed">
  <nav id="nagbar" role="navigation">
        <a href="#" data-activates="slide-out" class="button-collapse show-on-large"><i class="material-icons">menu</i></a>
    <div class="nav-wrapper page-scroll">
      <a href="#page-top" class="brand-logo"><img src="/assets/header_logo_white.png"></a>
  
      <ul class="right">
        <li class="hidden"><a class="page-scroll" href="#page-top"></a></li>
        <li><a class="page-scroll" href="#services"><i class="large material-icons">email</i></a></li>
        <li><a class="page-scroll" href="#services"><i class="large material-icons">search</i></a></li>
      </ul>

      <ul id="slide-out" class="side-nav">
          <div class="chip-contianer center-align">
             <a href="#page-top" class="brand-logo"><img src="/assets/header_logo_white.png"></a>
          </div>

          <div class="sidebar-nav center">
            
              <li class="hidden"><a class="page-scroll" href="#page-top"></a></li>
              <li><a class="page-scroll" href="#company">COMPANY</a></li>
              <li><a class="page-scroll" href="#services">SERVICES</a></li>
              <li><a class="page-scroll" href="#contact">CONTACT</a></li>
         </div>
         <!-- Switch -->
            <div class="switch center-align">
              <label>
              Off
              <input type="checkbox">
              <span class="lever"></span>
              On
              </label>
            </div>

            <div class="switch center-align">
              <label>
              Off
              <input type="checkbox">
              <span class="lever"></span>
              On
              </label>
            </div>
             <div class="chip-contianer center-align">
              <div class="chip">
                <img src="/assets/Team-4.png" alt="Contact Person">
                  Austin Oseh
                <h6>Developer</h6>
              </div>
          </div>
      </ul>
    </div>
  </nav>
</div>
<script>
  $(".button-collapse").sideNav();

          $(window).scroll(function() {
    if ($(".navbar").offset().top > 50) {
        $(".navbar-fixed-top").addClass("top-nav-collapse");
    } else {
        $(".navbar-fixed-top").removeClass("top-nav-collapse");
    }
});

$(function() {
    $('a.page-scroll').bind('click', function(event) {
        var $anchor = $(this);
        $('html, body').stop().animate({
            scrollTop: $($anchor.attr('href')).offset().top
        }, 1500, 'easeInOutExpo');
        event.preventDefault();
    });
});

    //$('.button-collapse').sideNav({
     // menuWidth: 200,
      //menuHeight: 300, // Default is 240
     // edge: 'right', // Choose the horizontal origin
     // closeOnClick: true // Closes side-nav on <a> clicks, useful for Angular/Meteor
   // }
 // );
      
</script>







