<div class="navbar-fixed-top">
  <nav id="nav-bar">
    <div class="nav-wrapper container">
      <a href="#!" class="brand-logo">D-Dean</a>
      <a href="#" data-activates="slide-out" class="button-collapse "><i class="material-icons">menu</i></a>
      <ul class="right hide-on-med-and-down">
        <li><a href="mobile.html">HOME</a></li>
        <li><a href="sass.html">SERVICES</a></li>
        <li><a href="badges.html">COMPANY</a></li>
        <li><a href="collapsible.html">CONTACT</a></li>
        
      </ul>
      <ul id="slide-out" class="side-nav">
          <div class="chip-contianer center-align">
            <div class="chip">
              <img src="/assets/Team-4.png" alt="Contact Person">
              Jane Doe
          </div>
        </div>
          <div class="sidebar-nav">
            <li><a href="mobile.html">HOME</a></li>
            <li><a href="sass.html">SERVICES</a></li>
            <li><a href="badges.html">COMPANY</a></li>
            <li><a href="collapsible.html">CONTACT</a></li>
         </div>
      </ul>
    </div>
  </nav>
</div>
<script>
  $(".button-collapse").sideNav();

    //$('.button-collapse').sideNav({
     // menuWidth: 200,
      //menuHeight: 300, // Default is 240
     // edge: 'right', // Choose the horizontal origin
     // closeOnClick: true // Closes side-nav on <a> clicks, useful for Angular/Meteor
   // }
 // );
      
</script>
