<div id="page-top" class="navbar-fixed">
  <nav id="nagbar" role="navigation">
    <div class="nav-wrapper container">
      <a href="#page-top" class="brand-logo"><img src="/assets/header_logo_white.png"></a>
      <a href="#" data-activates="slide-out" class="button-collapse"><i class="material-icons">menu</i></a>
      <ul class="right hide-on-med-and-down">
        <li class="hidden"><a class="page-scroll" href="#page-top"></a></li>
        <li><a class="page-scroll" href="#company">COMPANY</a></li>
        <li><a class="page-scroll" href="#services">SERVICES</a></li>
        <li><a class="page-scroll" href="#contact">CONTACT</a></li>
        <a class="waves-effect waves-light btn ">Get Started</a>
        
      </ul>
      <ul id="slide-out" class="side-nav">
          <div class="chip-contianer center-align">
            <div class="chip">
              <img src="/assets/Team-4.png" alt="Contact Person">
                Austin Oseh
              <h6>Developer</h6>
          </div>
        </div>
          <div class="sidebar-nav">
            
            <li><a href="sass.html">SERVICES</a></li>
            <li><a href="badges.html">COMPANY</a></li>
            <li><a href="collapsible.html">CONTACT</a></li>
         </div>
         <!-- Switch -->
            <div class="switch center-align">
              <label>
              Off
              <input type="checkbox">
              <span class="lever"></span>
              On
              </label>
            </div>

            <div class="switch center-align">
              <label>
              Off
              <input type="checkbox">
              <span class="lever"></span>
              On
              </label>
            </div>
      </ul>
    </div>
  </nav>
</div>
<script>
  $(".button-collapse").sideNav();

          $(window).scroll(function() {
    if ($(".navbar").offset().top > 50) {
        $(".navbar-fixed-top").addClass("top-nav-collapse");
    } else {
        $(".navbar-fixed-top").removeClass("top-nav-collapse");
    }
});


    //$('.button-collapse').sideNav({
     // menuWidth: 200,
      //menuHeight: 300, // Default is 240
     // edge: 'right', // Choose the horizontal origin
     // closeOnClick: true // Closes side-nav on <a> clicks, useful for Angular/Meteor
   // }
 // );
      
</script>







