.parallax-container.valign-wrapper
  .parallax
    %img{:src => "/assets/workspace.jpg"}/
  .container.caption.center-align
    %h3.valign We are your best choice
    %h5.valign.light.grey-text.text-lighten-3.text-flow We design and build stunning bespoke websites and we can help with a wide range of online marketing strategies.
:javascript
  $(document).ready(function(){
    $('.parallax').parallax();
  	});
