.parallax-container.valign-wrapper
	.parallax
		%img{:src => "/assets/coding.jpg"}
	.container.caption.center-align
		%h3.valign Digital Marketing campaign
		%h5.valign.light.grey-text.text-lighten-3.text-flow engage your audience wherever they are with your product and services
		%h5.valign.light.grey-text.text-lighten-3.text-flow see our platforms
		%ul
			%li
				%i.fa.fa-facebook-square
			%li
				%i.fa.fa-google-plus-square
			%li
				%i.fa.fa-twitter-square
			%li
				%i.fa.fa-youtube-square
			%li
				%i.fa.fa-linkedin-square
		%br
		%a.btn{:href => "/marketing"} See More

:javascript
	$(document).ready(function(){
		$('.parallax').parallax();
	});
