.process
	.container.process-header
		%h1.center-align HOW WE DO.
		%hr
		%h6.center-align.flow-text We adopt this process to provide high level services and support
	.row.process-wrapper
		.container.c-wrapper.flex-container
			.col.s6.m4.l2#sign-up.z-depth-2
				%h2 Sign up
				%i.fa.fa-pencil-square-o
			.col.s6.m4.l2#research.z-depth-2
				%h2 Research
				%i.fa.fa-search
			.col.s6.m4.l2#design.z-depth-2
				%h2 Design
				%i.fa.fa-gavel
			.col.s6.m4.l2#build.z-depth-2
				%h2 Build
				%i.fa.fa-code
			.col.s6.m4.l2#launch.z-depth-2
				%h2 Launch
				%i.fa.fa-external-link
			.col.s6.m4.l2#support.z-depth-2
				%h2 Support
				%i.fa.fa-life-ring