.process
	.container.process-header
		%h1.center-align OUR PROCESS
		%hr
	.row.process-wrapper
		.container
			.col.s6.m4.l2#sign-up.center-align
				%h2 Sign up
				%i.fa.fa-pencil-square-o
			.col.s6.m4.l2#research.center-align
				%h2 Research
				%i.fa.fa-search
			.col.s6.m4.l2#design.center-align
				%h2 Design
				%i.fa.fa-gavel
			.col.s6.m4.l2#build.center-align
				%h2 Build
				%i.fa.fa-code
			.col.s6.m4.l2#launch.center-align
				%h2 Launch
				%i.fa.fa-external-link
			.col.s6.m4.l2#support.center-align
				%h2 Support
				%i.fa.fa-life-ring