#quotation
	%br
	%br
	%br
	%h2.text-center get a quote.
	%p.text-center tell us about your project and what you want to achieve & we will design a strategy to reach your goals. 
	%p.text-center Alternatively speak to one of our team on  <strong style = "font-size: 18px; color: #02C39A;">020 7635 2679.</strong>
	%br
	.container.inner
		= render "quotations/form"