.service-text-wrapper
	#services.center-align.container.responsive
		%h4 THINGS WE CAN DO FOR YOU
		.container.service-text
			%p We are a digital agency helping businesses of all size get a better return from online activities. We design and build stunning bespoke websites and we can help with a wide range of online marketing strategies. Every website that we create is designed and built in-house by our team of friendly web designers and you have full content management so that you can update your website whenever you wish. We have an innovative way of working, removing unnecessary costs, offering lower prices than other similar agencies. Please explore the services and packages that we offer, read some of the reviews about what our existing clients say and take a look at the quality our work. If you are looking to find a digital agency then we’d love to hear from you.
.container-wrapper
	.row.service-section
		.col.s12.m4.l4.first-serve
			%h1 Web Design
		.col.s12.m4.l4.second-serve
			%h1 Marketing
		.col.s12.m4.l4.third-serve
			%h1 Branding