#services.center-align.container.responsive
  %h4 THINGS WE CAN DO FOR YOU
#welcome.container.section.scrollspy
  #image-test.row
    .col.s12.m4.l4.center-align
      .card.medium.fade1
        .card-image.waves-effect.waves-block.waves-light
          %img.activator{:src => "/assets/Services-3.png"}
        .card-content
          %span.card-title.activator.grey-text.text-darken-2
            Web Design
            %i.material-icons.right more_vert
        .card-reveal
          %span.card-title.grey-text.text-darken-2
            Web Design  Development
            %i.material-icons.right close
          %p We beautifully design website that are user friendly and easy to convert visitors into customers, Creating website that stands out from your competitors helps convince your potential customers to do business with you
          %a.waves-effect.waves-light.btn See More
    .col.s12.m4.l4.center-align
      .card.medium.fade2
        .card-image.waves-effect.waves-block.waves-light
          %img.activator{:src => "/assets/Services-1.png"}
        .card-content
          %span.card-title.activator.grey-text.text-darken-2
            Marketing
            %i.material-icons.right more_vert
        .card-reveal
          %span.card-title.grey-text.text-darken-2
            Marketing
            %i.material-icons.right close
          %p We really care about our clients and go the extra mile to ensure we hit their targets and goals. We know that we do a good job, but we love it when our clients think so too.
          %a.waves-effect.waves-light.btn See More
    .col.s12.m4.l4.center-align
      .card.medium.fade3
        .card-image.waves-effect.waves-block.waves-light
          %img.activator{:src => "/assets/Services-4.png"}
        .card-content
          %span.card-title.activator.grey-text.text-darken-2
            Branding
            %i.material-icons.right more_vert
        .card-reveal
          %span.card-title.grey-text.text-darken-2
            Branding Solution
            %i.material-icons.right close
          %p
            we understand how important it is to create an effective and recognisable brand.
            Consumers respond to simple, clean-cut and quality design; this reflects how your brand is perceived.
          %a.waves-effect.waves-light.btn See More
        / End of container with Z-depth
      / End of container