<div id="img-bg">
	<img class="responsive-img" src="/assets/slide1.png">
	<div class="jumbotron text-center">
		<a class="waves-effect waves-light btn-floating"><i class="material-icons right">cloud</i>button</a>
		<p>THIS IS THE NEW ERA WEBSITE</p>
	</div>
</div>