#img-bg
  %img.responsive-img{:src => "/assets/slide1.png"}/
  .jumbotron.text-center
    %a.waves-effect.waves-light.btn-floating
      %i.material-icons.right> cloud
      button
    %p THIS IS THE NEW ERA WEBSITE
