.web-wrapper
	.web-inner
		.dot-cover
			.text-caption.center-align
				%h1.center-align WEB.
				%hr
				%p WE DESIGN AFFORDABLE WEBSITES
			.row.weblock
				.col.s3.m3.l3

				.col.s3.m3.l3
		
				.col.s3.m3.l3

				.col.s3.m3.l3


.page-text-bg
	.page-cover
		.container
			%p.center We provide advance web development solutions that will help improve your business that includes content management solutions such as Static websites, Dynamic websites, Responsive websites and E-Commerce website. Our design and developmental solutions are tailored to your company’s needs with non-stop technical support and project management. Our digital designs will meet all your company’s standard and WC3 requirements.
.row.design-types
	.property.col.s12.m6.l3
		#property-wrapper
			%h1.text-center Property
			%h6.text-center Expert in property website design
			%hr
	.business.col.s12.m6.l3
		#business-wrapper
			%h1.text-center Business
			%h6.text-center Outstanding business website
			%hr
	.showcase.col.s12.m6.l3
		#showcase-wrapper
			%h1.text-center Showcase
			%h6.text-center Display your product & Services
			%hr
	.ecommerce.col.s12.m6.l3
		#ecommerce-wrapper
			%h1.text-center Ecommerce
			%h6.text-center Sell your goods and services
			%hr

.features.hide-on-small-only
	.blue.light-dots
		.container
			%h1.text-center FEATURES
			%hr 
			%h6.text-center What you get with our web design package
			%ul
				%li.feature-item
					%i.fa.fa-tablet
					%h2 RESPONSIVE
					%p Responsive websites allow a site to adapt to different screen sizes enabling you to offer any visitor the best possible experience
				%li.feature-item
					%i.fa.fa-sticky-note-o
					%h2 UNLIMITED PAGES
					%p You can choose any number of pages that best suite your business.
				%li.feature-item
					%i.fa.fa-gear
					%h2 CMS
					%p You can update your site whenever you wish and we also offer technical support for the life of your website.
				%li.feature-item
					%i.fa.fa-mobile
					%h2 MOBILE FRIENDLY
					%p This makes your website looks great on mobile phone.
				%li.feature-item
					%i.fa.fa-check-square-o
					%h2 FREE DOMAIN NAME
					%p We will include a new UK domain name or you can also use one you already own. comes with business email addresses as standard.
				%li.feature-item
					%i.fa.fa-file-text
					%h2 FORMS
					%p Allow website visitors to complete an enquiry form and have that form sent directly to your email address so that you can respond.
#process
	= render 'partials/process'
.call-to-action
	.call-cover
		.container
			%h4.text-center INTERESTED IN SIGNING UP FOR OUR WEB DESIGN PACKAGE
			.row.package-buttons
				.col.s6.solid-button
					%a.waves-effect.waves-light.btn-large GET A QUOTE
				.col.s6.border-button
					%a.waves-effect.waves-light.btn-large{:href => "/#contact-f"} GET IN TOUCH
.caret-pop.container
	.arrow-down
#contacts
	= render 'contacts/form'
#company-image
	= render 'partials/company_image'

:javascript
	var options = [
		{selector: '.design-types', offset: 250, callback: 'Materialize.fadeInImage(".design-types")' },
		{selector: '.features', offset: 400, callback: 'Materialize.fadeInImage(".features")' },
		{selector: '#process', offset: 200, callback: 'Materialize.fadeInImage("#process")' },
		{selector: '.call-to-action', offset: 150, callback: 'Materialize.fadeInImage(".call-to-action")' },
		{selector: '#contacts', offset: 150, callback: 'Materialize.fadeInImage("#contacts")' },
		{selector: '#company-image', offset: 400, callback: 'Materialize.fadeInImage("#company-image")' }
	];
	Materialize.scrollFire(options);




