.web-wrapper
	.web-inner
		.text-caption.center-align
			%h1.center-align WEB.
			%hr
			%p WE DESIGN AFFORDABLE WEBSITES
		.row.weblock
			.col.s3.m3.l3

			.col.s3.m3.l3
	
			.col.s3.m3.l3

			.col.s3.m3.l3


.page-text-bg
	.container
		%p.center We provide advance web development solutions that will help improve your business that includes content management solutions such as Static websites, Dynamic websites, Responsive websites and E-Commerce website. Our design and developmental solutions are tailored to your company’s needs with non-stop technical support and project management. Our digital designs will meet all your company’s standard and WC3 requirements.
.row.design-types
	.property.col.s12.m3.valign-wrapper
		%p.valign Property Website
	.business.col.s12.m3.valign-wrapper
		%p.valign Business Website
	.showcase.col.s12.m3.valign-wrapper
		%p.valign Showcase Website
	.ecommerce.col.s12.m3.valign-wrapper
		%p.valign Ecommerce Website
.row.features
	.container
		%ul
			%li.fa.fa-sign-out{:style => "height: 103px;"}
			%h2 RESPONSIVE
			%li
				%i.fa.fa-sign-out
				%h2 UNLIMITED PAGES
			%li
				%i.fa.fa-sign-out
				%h2 CONTENT MANAGEMENT
			%li
				%i.fa.fa-sign-out
				%h2 MOBILE FRIENDLY
			%li
				%i.fa.fa-sign-out
				%h2 FREE DOMAIN NAME
			%li
				%i.fa.fa-sign-out
				%h2 FORMS