.web-wrapper
	.web-inner
		.dot-cover
			.text-caption.center-align
				%h1.center-align WEB.
				%hr
				%p.flow-text WE DESIGN AFFORDABLE WEBSITES
			.row.weblock
				.col.s3.m3.l3

				.col.s3.m3.l3
		
				.col.s3.m3.l3

				.col.s3.m3.l3


.page-text-bg
	.page-cover
		.container
			.web-icon.text-center
				%i.large.material-icons.z-depth-5 description
			%p.center.flow-text starting any web development project with a discovery phase where we can research exactly what your potential customers are looking for using a vast range of powerful industry research tools. 
			%br
			%p.center.flow-text Beginning to redesign your website we first take our time to understand your audience and what they want from your business . If your business cannot afford to fail then using our discovery  and research service may be the way forward. Our team here at Onklick Media have carried out a number of discovery phases for many businesses throughout the past 5 years.
			%br
			%p.center.flow-text Our access to data via our <em style ="color: green;">Google Partner Status</em> allows our research to reach beyond basic analytical tools and identify deep industry trends, where your customers most commonly go when searching for your products and services, the types of devices they most commonly use and so much more. Analysing this data can allow us to design the perfect website to precisely meet your customers’ needs and ensure visitors turn into customers. Advance web development solutions that will help improve your business, all design and development  are tailored to your company’s needs with non-stop technical support and project management.Our digital designs will meet all your company’s standard. 
.row.design-types
	.item-wrapper.col.s12.m6.l3
		.property
			#property-wrapper
				%h1.text-center Property
				%h6.text-center Expert in property website design
				%hr
	.item-wrapper.col.s12.m6.l3
		.business
			#business-wrapper
				%h1.text-center Business
				%h6.text-center Outstanding business website
				%hr
	.item-wrapper.col.s12.m6.l3
		.showcase
			#showcase-wrapper
				%h1.text-center Showcase
				%h6.text-center Display your product & Services
				%hr
	.item-wrapper.col.s12.m6.l3
		.ecommerce
			#ecommerce-wrapper
				%h1.text-center Ecommerce
				%h6.text-center Sell your goods and services
				%hr

.features
	.blue.light-dots
		.container
			%h1.text-center FEATURES
			%hr 
			%h6.text-center What you get with our web design package
			%ul
				%li.feature-item
					%i.fa.fa-tablet
					%h2.flow-text RESPONSIVE
					%p.flow-text Responsive websites allow a site to adapt to different screen sizes enabling you to offer any visitor the best possible experience
				%li.feature-item
					%i.fa.fa-sticky-note-o
					%h2.flow-text UNLIMITED PAGES
					%p.flow-text You can choose any number of pages that best suite your business.
				%li.feature-item
					%i.fa.fa-gear
					%h2.flow-text CMS
					%p.flow-text You can update your site whenever you wish and we also offer technical support for the life of your website.
				%li.feature-item
					%i.fa.fa-mobile
					%h2.flow-text MOBILE FRIENDLY
					%p.flow-text This makes your website looks great on mobile phone.
				%li.feature-item
					%i.fa.fa-check-square-o
					%h2.flow-text FREE DOMAIN NAME
					%p.flow-text We will include a new UK domain name or you can also use one you already own. comes with business email addresses as standard.
				%li.feature-item
					%i.fa.fa-file-text
					%h2.flow-text FORMS
					%p.flow-text Allow website visitors to complete an enquiry form and have that form sent directly to your email address so that you can respond.
#process
	= render 'partials/process'
.call-to-action
	.call-cover
		.container
			%h4.text-center INTERESTED IN SIGNING UP FOR OUR WEB DESIGN PACKAGE
			.row.package-buttons
				.col.s6.solid-button
					%a.waves-effect.waves-light.btn-large.page-scroll{:href => "#page-top"} GET A QUOTE
				.col.s6.border-button
					%a.waves-effect.waves-light.btn-large{:href => "#"} GET IN TOUCH
.caret-pop.container
	.arrow-down
#contacts
	/= render 'contacts/form'
#company-image
	= render 'partials/company_image'

:javascript
	var options = [
		{selector: '.design-types', offset: 250, callback: 'Materialize.fadeInImage(".design-types")' },
		{selector: '.features', offset: 400, callback: 'Materialize.fadeInImage(".features")' },
		{selector: '#process', offset: 200, callback: 'Materialize.fadeInImage("#process")' },
		{selector: '.call-to-action', offset: 150, callback: 'Materialize.fadeInImage(".call-to-action")' },
		{selector: '#contacts', offset: 150, callback: 'Materialize.fadeInImage("#contacts")' },
		{selector: '#company-image', offset: 400, callback: 'Materialize.fadeInImage("#company-image")' }
	];
	Materialize.scrollFire(options);




