= render "partials/navbar2"
.web-wrapper
	.web-inner
		.text-caption.center-align
			%h1.center-align WEB DEVELOPMENT
			%hr
	.page-content.container
		%p We provide advance web development solutions that will help improve your business that includes content management solutions such as Static websites, Dynamic websites, Responsive websites and E-Commerce website. Our design and developmental solutions are tailored to your company’s needs with non-stop technical support and project management. Our digital designs will meet all your company’s standard and WC3 requirements.
