.news{
	background-color: grey;
	// height: 400px;
	width: 100%;
	overflow: hidden;
	.image-wrapper{
		// min-height: 400px;
		width: 100%;
		img{
			// height: 300px;
			width: 100%;
			overflow: hidden;
		}
	}
}
.news-wrapper{
	.img-wrapper{
		loat: left;
    width: 100%;
    position: relative;
    z-index: 1;
    overflow: hidden;
    background: #000;
    height: 911px;
    // max-height: 1100px!important;
    display: block;
    img{
			width: 100%;
		  height: 911px;
		  margin-top: 0px;
		  background-size: 100%;
		}
	}
	 
	.news-title{
		position: fixed;
		top: 40%;
		left: 50%;
		z-index: 100;
		h1{
			color: #fff;
			font-weight: 800;
			font-size: 32px;
			letter-spacing: 2px;
		}
	}

}