@charset "utf-8";
@media #{$small-and-down} {
  // styles for small screens and down
}
@media #{$medium-and-up} {
  // styles for medium screens and larger
}
@media #{$medium-and-down} {
  // styles for medium screens and down
}
@media #{$large-and-up} {
  // styles for large screens and up
}
html, body{
  height: 100%;
  -webkit-font-smoothing: antialiased;
}


h1 {
  font-size: 26px;
  font-family: Dosis;
  font-width: 400;
  padding: 10px 0px 10px 0px;
  letter-spacing: 8px;
  font-variant: ExtraLight;
  -webkit-font-smoothing: antialiased;
}
h2{
  font-size: 28px;
  -webkit-font-smoothing: antialiased;
}
h3 {
  font-family: Open Sans;
  font-width: 300;
  font-variant: Light;
  -webkit-font-smoothing: antialiased;
}
h4 {
  font-size: 18px;
  font-family: Open Sans;
  font-width: 300;
  font-variant: Light;
  color: grey;
  -webkit-font-smoothing: antialiased;
  }
h6{
    font-weight: 700;
}
p{
  margin: 0 0 5em 0;
}
ul, ol{
    margin: 0 0 1.5em 0;
}

body{
  background-color: #fff;
  top: 0;
  z-index: -999;
}
.row .col{
  padding: 0 0rem;
}


div#preloader{
  position: fixed;
  top: 0px;
  width: 100%;
  height: 1600px;
  background: #000;
  opacity: 0.9;
  z-index: 1000;
}
div#preloader > div#preload{
  position: absolute;
  top: 20%;
  left: 50%;
  right: 50%;
  bottom: 50%;

}

 #nagbar{
  background-color: $h-color;
  height: 100px;
  padding-top: 20px;
  padding-left: 20px;
  padding-right: 20px;
  transition: height 0.3s linear 0s, padding 0.3s linear 0s;
  box-shadow: none;
}
#page-top{
   background-color: transparent !important;
}

.nav-wrapper{
	padding-left: 30px;
	padding-right: 50px;
  left: 0px;
  top: 0px;
  margin: 0px;
  border-color: red;
  border: 5px;
}

h1 {
  font-family: $myfont;
}

.nav-wrapper ul li a{
  font-family: $myfont;
  font-size: 12px;
  font-width: 400;
  letter-spacing: 4px;
  padding-left: 5px;
  padding-right: 3px;
}

.nav-wrapper ul li a:hover{
  text-decoration: none !important;
  background: none;
  color: green;
}
.brand-logo img{
  width: 200px;
  height: 30px;
  padding: 0 40px 0 20px;
}
#nbtn {
  background-color: transparent;
  border: 1px solid #fff;
  border-radius: 20%;
}
#header{
  
  height: 800px;
  min-width: 100%;
  position: relative;
  top: 0px;
  z-index: -1000;
}
#header{
  background-color:  $h-color;
//   -webkit-animation: mymove 5s infinite; /* Chrome, Safari, Opera */
//    animation: mymove 5s infinite;
}
/* Chrome, Safari, Opera */
@-webkit-keyframes mymove {
    from {background-color: $h-color;}
    to {background-color: red;}
}
#inner-header h1{
  font-size: 32pt;
  letter-spacing: 3px;
}
#inner-header h4{
  font-size: 26pt;
  letter-spacing: 3px;
}
///////////////////
//Video bacground//
///////////////////
.video-bg-wrapper{
  background-image: url('/workspace.jpg');
  top: -50;
  left: -50;
  width: 200%;
  height: 200%;
  width: auto;
  height: auto;
  overflow: hidden;
  
} 
#video-elem{
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  display: block;
  overflow: hidden;
  min-height: 100%;
  min-width: 100%;
  width: auto;
  height: auto;
  z-index: 0;
  opacity: 0.5;
  transition-property: opacity;

}
div#vtext h2, h4{
  font-family: $myfont !important;
  font-width: 600;
  letter-spacing: 3px;
}
button#vbtn {
  background-color: transparent;
  border: 1px solid #fff;
  color: #fff;
}
button#vbtn:hover{
  background-color: rgba(255, 255, 255, 0.5);
  color: #fff;
}


//////////////////////////
//end of video background//
//////////////////////////

#welcome {
  padding: 30px 10px 100px 10px;
}
#welcome h4{
  padding: 50px 0px 50px 0px;
}
#hero-text{
  padding: 30px 10px;
}
#img-bg img{
  width: 100%;
  height: 80%;
  position: relative;
}

.chip-contianer{
  background-color: $h-color;
  height: 100px;
  padding-top: 20px;
  border: 5px;
  border-color: black solid;
  border-bottom: 1px solid;
}
.side-nav{
   background-color: $main-color;
   
}
.sidebar-nav li a{
  color: #fff;
}
#footer-nav{
  background-color: #232a3f;
  min-height: 40px;
  padding-bottom: 0px;
  margin-bottom: 0px;
  border: none !important;
  border-radius: 0px;
}
.parallax-container{
  height: 800px;
  padding: 0px;
  margin: 0px;
}
.parallax-container h3{
  color: #fff;
  font-family: Open Sans;
  font-height: 42px;
  font-size: 42pt;
}
#content-wrapper{
  position: absolute;
  top: 0;
  left: 0;
  min-width: 100%;
  min-height: 100%;
  width: auto;
  height: auto;
  padding-top: 0px;
}
.slider {
  padding-top: 0;
  margin-top: 0;
  top: 0px;
}
#slider-wrapper{
  background-color: black;
}

.h-line{
  background-color: blue;
  opacity: 0.2;
  height: 2px;
  visibility: hidden;
}
/////////////////////
#section-1{
  height: 100%;
  width: 100%;
  margin: 50px 0 100px 0;
  padding: 0px;
}
.hero-inner1{
  height: 600px;
  float: left;
  background: #232a3f;
  padding: 0px;
  margin: 0px;
  
}
.hero-inner1 h4 {
  padding: 100px 50px 0px 50px;
  margin: 0px;
  color: grey;
  
}
.hero-inner1 p{
  padding: 50px;
  margin: 0px;
  color: #fff;
  opacity: 0.8;
  
}
.hero-inner2 {
  height: 600px;
  float: left;
  width: 100%;
  padding-left: 0px;
  margin: 0px;
}
.hero-inner2 img{
  height: 100%;
  width: 100%;
  padding-left: 0px;
  margin: 0px;
  display: block; 
}
////////////////////
#section-2{
  height: 100%;
  width: 100%;
  margin: 50px 0 0px 0;
  padding: 0px;
}
.hero-inner1-1{
  height: 600px;
  float: left;
  background: #000;
  padding: 0px;
  margin: 0px;
  
}
.hero-inner1-1 h4 {
  padding: 100px 50px 0px 50px;
  margin: 0px;
  color: grey;
  
}
.hero-inner1-1 p{
  padding: 50px;
  margin: 0px;
  color: #fff;
  opacity: 0.8;
}
////////////////////////
#cards, #contact{
  padding: 0px;
  margin: 0px;
}



