@charset "utf-8";
@media #{$small-and-down} {
  // styles for small screens and down
  li.top{visibility: hidden;}
  li .button {margin-left: 20px;}

}
@media #{$medium-and-up} {
  // styles for medium screens and larger
}
@media #{$medium-and-down} {
  // styles for medium screens and down
}
@media #{$large-and-up} {
  // styles for large screens and up
}
html, body{
  height: 100%;
  -webkit-font-smoothing: antialiased;
}
// SCROLLFIRE ELEMENTS //
#service-container{opacity: 0;}
#company-image{opacity: 0;}
#process{opacity: 0;}
#parallax{opacity: 0;}
#contacts{opacity: 0; margin: 0px; padding: 0px;}
#welcome{opacity: 0;}
#section-1{opacity: 0;}
.call-to-action{opacity: 0;}
.features{opacity: 0;}
.design-types{opacity: 0;}
html, 
body, 
div, 
applet, 
object, 
frame, 
p, 
blockquote, 
pre, a, abbr, 
acronym, address, 
big, cite, code, 
del, dfn, em, img, 
ins, kbd, q, s, samp, 
small, strike, strong, 
sub, sup, tt, var, b, 
u, i, center, dl, dt, dd, 
ol, ul, li, fieldset, form, 
label, legend, table, 
caption, tbody, tfoot, 
thead, tr, th, td, article, 
aside, canvas, details, embed, 
figure, figcaption, footer, header, 
hgroup, menu, nav, output, ruby, 
section, summary, time, mark, 
audio, video{
//  margin: 0;
//  padding: 0;
//  border: 0;
//  font-size: 100%;
//  font: inherit;
//  vertical-align: baseline;
}

h1 {
  font-size: 26px;
  font-family: Dosis;
  font-width: 400;
  padding: 10px 0px 10px 0px;
  letter-spacing: 8px;
  font-variant: ExtraLight;
  -webkit-font-smoothing: antialiased;
}
h2{
  font-size: 28px;
  -webkit-font-smoothing: antialiased;
}
h3 {
  font-family: Open Sans;
  font-width: 300;
  font-variant: Light;
  -webkit-font-smoothing: antialiased;
}
h4 {
  font-size: 18px;
  font-family: Open Sans;
  font-width: 300;
  font-variant: Light;
  color: grey;
  -webkit-font-smoothing: antialiased;
  }
h6{
    font-weight: 700;
}
p{
  margin: 0 0 5em 0;
}
ul, ol{
    margin: 0 0 1.5em 0;
}

body{
  background-color: #fff;
  top: 0;
  z-index: -999;
}
.row .col{
  padding: 0 0rem;
}
.row {
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 0px;
}

div#preloader{
  position: fixed;
  top: 0px;
  width: 100%;
  height: 1600px;
  background: #000;
  opacity: 0.9;
  z-index: 1000;
}
div#preloader > div#preload{
  position: absolute;
  top: 20%;
  left: 50%;
  right: 50%;
  bottom: 50%;

}

#nagbar{
  a:hover {
    text-decoration: none;
  }
  background-color: transparent;
  height: 100px;
  padding-top: 20px;
  padding-left: 20px;
  padding-right: 20px;
  transition: height 0.3s linear 0s, padding 0.3s linear 0s;
  box-shadow: none;
  //position: fixed;
  //z-index: 1;
}
#page-top{
   background-color: transparent !important;
}
// Navigation force 0 --bootstrap--
.navbar-fixed {
  height: 0; 
}
.nav-wrapper{
	padding-left: 30px;
	padding-right: 0px;
  left: 0px;
  top: 0px;
  margin: 0px;
  border-color: red;
  border: 5px;
}

h1 {
  font-family: $myfont;
}

.nav-wrapper ul li a{
  font-family: $myfont;
  font-size: 12px;
  font-width: 400;
  letter-spacing: 4px;
  padding-left: 10px;
  padding-right: 10px;
}

.nav-wrapper ul li.but a:hover{
  text-color: #fff;
  border-right: 5px solid; border-color: red;
  text-decoration: none !important;
  // background: rgba(0,0,0, 0.9);
  background-color: #dbdbdc;
}
.nav-wrapper ul li.top:hover{color: #fff; border-bottom: 2px solid; border-color: #fff; _webkit-transition: 0.5s; _mos-transition: 0.5s; transition: 0.5s; }
.brand-logo img{
  width: 240px;
  height: 38px;
  padding: 0 40px 0 20px;
}
@media (max-width: 680px){
  .brand-logo img{
    width: 200px;
    height: 30px;
    padding: 0 40px 0 0px;
  }
}
@media (max-width: 680px){
  .call-us{display: none;}
}
li a.button{background-color: #48b86e; font-size: 16px; letter-spacing: 1px; text-transform: lowercase; font-family: Open Sans, Roboto, San-sarif; font-weight: 600; }
li a.button:hover{background-color: $primary-color; color: #48b86e;}
#nbtn {
  background-color: transparent;
  border: 1px solid #fff;
  border-radius: 0%;
}
.call {
  width: 100px;
  height: 60px;
}
// .chip-contianer{
//   background-color: rgba(0,0,0, 0.9);
//   height: 100px;
//   padding-top: 20px;
//   a.brand-logo{
//     display: inline-block;
//     i{
//       font-size: 50px;
//       color: #fff;
//       display: inline-block;
//     }
//     width: 200px;
//     height: 100px;
//     // padding: 0 40px 0 20px;
//   }
//   //border: 5px;
//   border-color: red solid;
//   border-bottom: 1px solid;
// }
.side-nav{
   background-color: rgba(255,255,255, 1);
   // background-color: rgba(0,0,0, 0.8);
    // a i{
    //   font-size: 30px;
    //   color: #fff;
    //   margin-bottom: 0;
    //   padding-bottom: 0;
    //   padding-top: 30px;
    // }

   
}
.sidebar-nav li.but a{
  color: #6D6875;
  font-weight: 600;
  font-size: 16px;
  padding-left: 30px;
  // text-transform: uppercase;
}
.sidebar-nav li.but a:hover{
  color: #000;
  font-weight: 400;
  font-size: 16px;
  animation-timing-function: ease-in;
  // -webkit-transition: 0.5s;
  // -mos-transition: 0.5s;
  // transition: 0.5s;
}
.side-nav {
  .auth a{
  font-size: 14px;
  color: #fff;
  background-color: #114B5F;
  display: block;
  // padding-left: 50px;
  }
}
// .sidebar-nav {
//   .first {
//     background-color: red;
//   }
//   .second {
//     background-color: green;
//   }
//   .third {
//     background-color: blue;
//   }
//   .forth {
//     background-color: pink;
//   }
//   .fifth {
//     background-color: black;
//   }
//   .sixth {
//     background-color: yellow;
//   }
// }
#header{
  
  height: 900px;
  min-width: 100%;
  position: relative;
  top: 0px;
  z-index: -1000;
}
#header{
  #dimm-pix{background-color: rgba(0,0,0, 0.6); width: 100%; }
  .pattern-overlay{
    background-image: url('overlay-pattern.png'); 
    background-repeat: repeat; 
    height: 900px; 
    width: 100%;
    position: relative;
    top: 0px;
    padding-top: 150px;
  }
  #inner-header {
    img{opacity: 0.5;}
    h1{
      font-size: 32pt;
      letter-spacing: 3px;
      font-weight: 800;
      text-transform: uppercase;
      float: center;
    }
    h4{
      font-size: 26pt;
      letter-spacing: 3px;
      font-weight: 800;
    }
    p{padding: 0; margin: 0;}
    hr{width: 150px;}
    .btn {
      background: transparent;
      border: 1px solid;
      border-color: #fff;
      margin-top: 20px;
    }
    .btn:hover {
      color: red;
    }
  }
  background-image: url('code-header');
  // background-attachment: fixed;
  // background-color:  $h-color;
//   -webkit-animation: mymove 5s infinite; /* Chrome, Safari, Opera */
//    animation: mymove 5s infinite;
}
/* Chrome, Safari, Opera */
// @-webkit-keyframes mymove {
//     from {background-color: $h-color;}
//     to {background-color: red;}
// }

///////////////////
//Video bacground//
///////////////////
.video-bg-wrapper{
  background-image: url('/workspace.jpg');
  top: -50;
  left: -50;
  width: 200%;
  height: 200%;
  width: auto;
  height: auto;
  overflow: hidden;
  
} 
#video-elem{
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  display: block;
  overflow: hidden;
  min-height: 100%;
  min-width: 100%;
  width: auto;
  height: auto;
  z-index: 0;
  opacity: 0.5;
  transition-property: opacity;

}
div#vtext h2, h4{
  font-family: $myfont !important;
  font-width: 600;
  letter-spacing: 3px;
}
button#vbtn {
  background-color: transparent;
  border: 1px solid #fff;
  color: #fff;
}
button#vbtn:hover{
  background-color: rgba(255, 255, 255, 0.5);
  color: #fff;
}


//////////////////////////
//end of video background//
//////////////////////////
#welcome {
  padding: 30px 10px 100px 10px;
  #title-header{
    padding: 0px 50px 50px 50px;
    h1{
      padding: 0px 0px 0px 0px;
      font-size: 28px;
      font-weight: 800;
      letter-spacing: 2px;
      color: #000;
    }
  }
@media (max-width: 680px) {
  #title-header h1{font-size: 24px;}
}
 
  #hero-text{
    padding: 30px 10px;
    border-left: 1px solid;
    border-color: $primary-color;
  }
  @media (max-width: 680px){
    #hero-text {
      border-left: 0px;
    }
  }
}

#img-bg img{
  width: 100%;
  height: 80%;
  position: relative;
}

#footer-nav{
  background-color: #232a3f;
  min-height: 40px;
  padding-bottom: 0px;
  margin-bottom: 0px;
  border: none !important;
  border-radius: 0px;
  bottom: 0px;
  z-index: 10;
}
.parallax-container{
  opacity: 0.8;
  height: 800px;
  padding: 0px;
  margin: 0px;
  .container {
    h3 {
      color: #fff;
      font-family: Open Sans;
      font-height: 42px;
      font-size: 32pt;
      font-weight: 800;
    }
    h5 {
      font-size: 18px;
      font-family: Roboto;
      color: #fff;
      letter-spacing: 1px;
      font-weight: 600;
    }
    a.btn{
      background: none;
      border: 1px solid #fff;
    }
    a.btn:hover{background-color: #48b86e; color: black; border: none;}
    ul{
      li{
        display: inline-block;
        font-size: 36px;
        color: #fff;
        padding: 0 5px;
        .fa-facebook-square{color: #1B98E0;} .fa-facebook-square:hover{font-size: 30px; -webkit-transition: 1s; transition: 1s;}
        .fa-twitter-square{color: #06AED5;} .fa-twitter-square:hover{font-size: 30px; -webkit-transition: 1s; transition: 1s;}
        .fa-linkedin-square{color: #083D77;} .fa-linkedin-square:hover{font-size: 30px; -webkit-transition: 1s; transition: 1s;}
        .fa-google-plus-square{color: #dd4b39;} .fa-google-plus-square:hover{font-size: 30px; -webkit-transition: 1s; transition: 1s;}
        .fa-youtube-square{color: red;}.fa-youtube-square:hover{font-size: 30px; -webkit-transition: 1s; transition: 1s;}
      }
    }
    // h3:hover {
    //   background-color: #000;
    //   color: red;
    //   transition: 1s;
    //   cursor: pointer;
    // }
  }
}

#content-wrapper{
  position: absolute;
  top: 0;
  left: 0;
  min-width: 100%;
  min-height: 100%;
  width: auto;
  height: auto;
  padding-top: 0px;
}
.slider {
  padding-top: 0;
  margin-top: 0;
  top: 0px;
}
#slider-wrapper{
  background-color: black;
}

.h-line{
  background-color: blue;
  opacity: 0.2;
  height: 2px;
  visibility: hidden;
}
/////////////////////
#section-1{
  height: 100%;
  width: 100%;
  margin: 0 0 0 0;
  padding: 0;
  .hero-text {
    // width: 50%;
    height: 600px;
    float: left;
    background: #232a3f;
    padding: 0px;
    margin: 0px;
    h1 {
      padding: 50px 50px 0px 50px;
      margin: 0px;
      color: #fff;
      font-weight: 800;
      letter-spacing: 3px;
      font-size: 32px;
    }
    p {
      padding: 50px;
      margin: 0px;
      color: #fff;
      opacity: 0.8;
      letter-spacing: 1px;
      line-height: 24px;
      text-overflow: hidden;
    } 
  }
  .dots {
    background: url('overlay-pattern.png');
    background-repeat: repeat;
    width: 100%;
    height: 600px;
  }
  .hero-image-bespoke {
    background-image: url('bespokedesign.jpg');
    background-size: cover;
    float: right;
    // width: 50%;
    height: 600px;
    background-color: #000;
    background-repeat: no-repeat;
    background-position: center;
    // &:hover{transform: scale(1.785); opacity: 0.2;}
  }
  .bespoke-pop {
    background-color: rgba(35,42,63, 0.9);
    height: 600px;
    width: 50%;
    float: left;
    display: none;
    h2{color: #fff; margin-top: 240px; padding: 0px 20px; display: none;}
    p{color: #00A896; padding: 0px 20px; display: none;}
  }
}



.hero-image-hosting {
  background-image: url('webdesign.jpg');
  background-size: cover;
  float: left;
  width: 50%;
  height: 600px;
  background-color: #000;
  background-repeat: no-repeat;
  background-position: center;
  opacity: 0;
  .hosting-pop {
    background-color: rgba(0,0,0, 0.9);
    height: 600px;
    width: 50%;
    float: right;
    display: none;
    h2{color: #fff; margin-top: 240px; padding: 0px 20px; display: none;}
    p{color: #00A896; padding: 0px 20px; display: none;}
  }
}
.hero-inner2 {
  height: 600px;
  float: left;
  width: 100%;
  padding-left: 0px;
  margin: 0px;
}
.hero-inner2 img{
  height: 100%;
  width: 100%;
  padding-left: 0px;
  margin: 0px;
  display: block; 
}
////////////////////
#section-2{
  height: 100%;
  width: 100%;
  margin: 0px 0 0px 0;
  padding: 0px;
}
.section {
  padding-top: 0rem;
  padding-bottom: 0rem;
}
.hero-inner1-1{

  ul {
    li {
      padding: 0px 50px 0px 50px;
      margin: 0px;
      color: grey;
    }
  }

  height: 600px;
  float: left;
  background: #000;
  padding: 0px;
  margin: 0px;
  h1 {
    padding: 50px 50px 0px 50px;
    margin: 0px;
    color: #fff;
    font-size: 32px;
    font-weight: 800;
    letter-spacing: 3px;
  }
  p {
    padding: 50px;
    margin: 0px;
    color: #fff;
    opacity: 0.8;
  }
opacity: 0;
}
#footer-nav{
  background-color: rgba(0, 0, 0, 0.26);
  ine-height: 40px;
  height: 40px;
  .footer-copyright {
    padding-right: 50px;
    padding-left: 50px;
    padding-top: 10px;
    color: #fff;
    .top-page {display: none;
      .link-top {
        // padding-top: 1px;
        // padding-bottom: 1px;
        width: 40px;
        height: 40px;
        float: right;
        a {
          border: 1px solid;
          border-color: #fff;
          padding: 2px 5px;
          border-radius: 5px;
          display: inline-block;
          color: #fff;
          text-decoration: none;
          text-transform: uppercase;
          opacity: 0.5;
        }
        a:hover {
          background-color: #fff;
          border: 1px solid;
          border-color: red;
          padding: 2px 5px;
          border-radius: 5px;
          transition: 0.5s;
          color: red;
          opacity: 0.5;
        }
      }
    }
  }
}
.fixed-action-btn{
  ul li a.btn-floating{
    background-color: transparent;
    border: 1px solid #fff;
    i.fa.fa-facebook{color: #1B98E0; &:hover{background-color: rgba(0,0,0, 0.4); color: #fff;}}
    i.fa.fa-twitter{color: #1B98E0; &:hover{background-color: rgba(0,0,0, 0.4); color: #fff;}}
    i.fa.fa-google-plus{color: #E71D36; &:hover{background-color: rgba(0,0,0, 0.4); color: #fff;}}
    i.fa.fa-linkedin{color: #13293D; &:hover{background-color: rgba(0,0,0, 0.4); color: #fff;}}
  }
}
////////////////////////
#cards, #contact{
  padding: 0px;
  margin: 0px;
}
#contact {
  h1 {
    color: $primary-color;
    font-weight: 800;
    font-size: 26px;
    padding-top: 80px;
  }
}
.our-contact{
  .contact-head h1{font-size: 32px; font-family: Open Sans; font-weight: 600; letter-spacing: 3px; margin-bottom: 40px; text-transform: uppercase;}
  .contact-us{
    .call-us{
      background-image: url('call-us'); background-repeat: no-repeat; background-size: cover; height: 300px;
      .cover-blind{background-color: rgba(0,0,0, 0.8); height: 300px; padding-top: 10px;}
      .cover-blind:hover{background-color: rgba(19,41,61, 0.9); border: 1px solid; border-color: green; transition: 0.5s;}
      h4{font-size: 14px; color: #fff; font-weight: 600; font-height: 18px;}
      h6{color: #fff; font-size: 16px; letter-spacing: 3px;} h6:hover{text-decoration: none; color: #FF9F1C;} a:hover{text-decoration:none;}
      i {font-size: 32px; color: #FF9F1C; text-align: center; padding-top: 80px; padding-left: 48%;}
    }

    .email-us{
      background-image: url('email-us'); background-repeat: no-repeat; background-size: cover; height: 300px;
      .cover-blind{background-color: rgba(0,0,0, 0.8); height: 300px; padding-top: 10px;}
      .cover-blind:hover{background-color: rgba(19,41,61, 0.9); border: 1px solid; border-color: green; transition: 0.5s;}
      h4{font-size: 14px; color: #fff; font-weight: 600; font-height: 18px;}
      h6{color: #fff; font-size: 16px; letter-spacing: 3px;} h6:hover{text-decoration: none; color: #02C39A;} a:hover{text-decoration:none;}
      i {font-size: 32px; color: #02C39A; text-align: center; padding-top: 80px; padding-left: 48%;} 
    }
    .tweet-us{
      background-image: url('tweet-us'); background-repeat: no-repeat; background-size: cover; height: 300px;
      .cover-blind{background-color: rgba(0,0,0, 0.8); height: 300px; padding-top: 10px;}
      .cover-blind:hover{background-color: rgba(19,41,61, 0.9); border: 1px solid; border-color: green; transition: 0.5s;}
      h4{font-size: 14px; color: #fff; font-weight: 600; font-height: 18px;}
      h6{color: #fff; font-size: 16px; letter-spacing: 3px;} h6:hover{text-decoration: none; color: #06AED5;} a:hover{text-decoration:none;}
      i {font-size: 32px; color: #06AED5; text-align: center; padding-top: 80px; padding-left: 48%;} 
    }
    .facebook{
      background-image: url('facebook-us'); background-repeat: no-repeat; background-size: cover; height: 300px;
      .cover-blind{background-color: rgba(0,0,0, 0.8); height: 300px; padding-top: 10px;}
      .cover-blind:hover{background-color: rgba(19,41,61, 0.9); border: 1px solid; border-color: green; transition: 0.5s;}
      h4{font-size: 14px; color: #fff; font-weight: 600; font-height: 18px;}
      h6{color: #fff; font-size: 16px; letter-spacing: 3px;} h6:hover{text-decoration: none; color: #1B98E0;} a:hover{text-decoration:none;}
      i {font-size: 32px; color: #1B98E0; text-align: center; padding-top: 80px; padding-left: 48%;} 
    }
  }
}
.form-hidden {
  background-image: url('hidden-contact');
  background-attachment: fixed;
  background-repeat: no-repeat;
  background-size: cover;
  width: 100%;
  // padding-bottom: 100px;
  .form-hidden-cover {
    background-color: rgba(39, 88, 107, 0.8);
    background-size: cover;
    padding: 30px;
    .boder-line { 
      background: transparent;
      border: 1px solid;
      border-color: #fff;
      padding-bottom: 100px;
      .form-drop-down {
        width: 100%;
        text-align: center;
        h3{color: #fff;}
        p{margin: 0px; padding-top: 100px; font-size: 18px; letter-spacing: 4px; font-family: Open Sans, San-sarif; font-weight: 600; color: #fff;}

        .form-button {
          display: inline-block;
          width: 300px;
          height: 80px;
          background: transparent;
          color: #fff;
          border: 1px solid;
          border-color: #fff;
          border-radius: 10px;
          margin-top: 20px;
          // text-transform: uppercase;
          font-weight: 800;
          font-size: 14px;
          padding-top: 7px;
        }
        a {text-decoration: none;}
        .form-button:hover{background-color: #27586B; border: 1px solid; border-color: #02C39A; color: #02C39A;}
      }
    }
  }
}
.caret-pop{
  display: none;
  // background-color: red; 
  width: 100%;
  text-align: center;
  .arrow-down {
    display: inline-block;
    width: 0; 
    height: 0; 
    border-left: 30px solid transparent;
    border-right: 30px solid transparent;
    
    border-top: 30px solid #27586B;
  }
}



#contact-f {
  display: none;
  padding: 50px 20px;
  input {
    font-family: Roboto, Open Sans;
    font-size: 2rem;
    text-transform: uppercase;
    // color: green;
  }
  textarea {
    font-size: 16px;
    color: green;
  }
  #first_name, #last_name, #email, #telephone {
    font-size: 18px;
  }
  label {
    font-family: Roboto, Open Sans, San-sarif;
    font-size: 18px;
  }
}
#contact-f {
  input {
    font-family: Roboto, Open Sans;
    font-size: 2rem;
    text-transform: uppercase;
    // color: #000;
    text-align: center;
  }
  #submit-button {
    padding-bottom: 20px;
    color: #fff;

  }

  .btn {
    padding: 0px 12px;
    color: #fff;
  }
}
// .model-form {
//   padding-right: 50px;
// }
.process {
  padding-bottom: 50px;
  margin-bottom: 100px;
//  display: block ;
  .process-wrapper {
    .flex-container{
      display: -webkit-flex;
      display: flex;
    }
    .c-wrapper{
      padding: 0 0 0 50px;
      margin: 0 auto;
			text-align: center !important;
      display: inline-block !important;
    }
    display: block;
    text-align: center;
    #sign-up, #research, #design, #build, #launch, #support {
      padding: 30px 0px;
      height: 180px;
      width: 180px;

      h2 {
        padding-bottom: 15px;

      }
    }
   
    //height: 200px;
    i {
      font-size: 38px;
      color: $h-color;
      text-align: center;
    }
   #sign-up:hover{ display: block; background-image: url('sign-up'); background-position: fixed; background-size: cover; color: #fff; border: 1px solid; border-radius: 50%; border-color: red; text-transform: uppercase; transition: 0.5s; }
   #research:hover{ display: block; background-image: url('Research'); background-position: fixed; background-size: cover; color:  #2274A5; border: 1px solid; border-radius: 50%; border-color: brown; text-transform: uppercase; transition: 0.5s;} 
   #design:hover{ display: block; background-image: url('process-design'); background-position: fixed; background-size: cover; color:  #fff; border: 1px solid; border-radius: 50%; border-color: green; text-transform: uppercase; transition: 0.5s;} 
   #build:hover{ display: block; background-image: url('build-process'); background-position: fixed; background-size: cover; color: #FFBF00; border: 1px solid; border-radius: 50%; border-color: blue; text-transform: uppercase; transition: 0.5s;} 
   #launch:hover{ display: block; background-image: url('launch-process'); background-position: fixed; background-size: cover; color: #fff; border: 1px solid; border-radius: 50%; border-color: grey; text-transform: uppercase; transition: 0.5s;} 
   #support:hover{ display: block; background-image: url('support-process'); background-position: fixed; background-size: cover; color:  #E83F6F; border: 1px solid; border-radius: 50%; border-color: black; text-transform: uppercase; transition: 0.5s;}  
  }
  .process-header {
    h1{font-size: 32px; font-weight: 600; font-family: Open Sans; letter-spacing: 3px;}
    padding: 50px 0px;
    hr {
      color: $primary-color;
      width: 150px;
    }
  }
}
@media (max-width: 480px) {
  #copyright p {
    font-size: 12px;
  }
}
// Company section
section {
  .company-bg {
    background-image: url('ourcompany.png');
    background-color: blach;
    background-repeat: no-repeat;
    background-size: cover;
    padding-top: 200px;
    width: 100%;
    height: 600px;
    h1 {
      font-weight: 700;
      letter-spacing: 2px;
      padding-bottom: 0px;
    }
  }
}
.company-text {
  height: 400px;
  padding: 50px 20px;

}

// Services Section start here
.service-text-wrapper {
  #services {
    hr{
      width: 150px;
    }
    h4 {
      padding-top: 50px;
      font-size: 26px;
      font-weight: 800;
      font-variant: bold;
      color: #fff;
     // border-bottom: 5px solid;
      border-color: #fff;
    }
    .service-text {
      i {
        font-size: 34px;
        color: #fff;
        padding-bottom: 20px;
      }
      p {
       // font-family: Open Sans, San-serif; 
        padding-top: 50px;
        color: #fff;
        font-size: 14px;
        letter-spacing: 2px;
        font-weight: 200;
        line-height: 24px;
        text-align: center;
      }
    }
  }
  background-image: url('text-cover.png');
  background-attachment: fixed;
  background-repeat: no-repeat;
  background-size: cover;
  background-color: black;
  width: 100%;
  min-height: 500px;

}
.service-section {
    h6 {
      color: #CDCACA;
    }
    h1{
      color: #fff;
      font-variant: bolder;
      font-weight: 800;
      font-size: 24px;
      background-size: cover;
      background-position: relative;
      //padding: 30%;
      -webkit-align-content: center;
      text-align: center;
      transition: font-size 0.5s;
    }
    //h1:hover{
     // font-size: 36px;
      //cursor: pointer;
    //}
  .first-serve {
    background-image: url('web-design.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    min-width: 33.3%;
    height: 500px;
    #title-wrapper1 {
      background-color: rgba(0, 0, 0, 0.5);
      width: 100%;
      height: 500px;
      text-align: center;
      padding-top: 180px;
    }
    #title-wrapper1:hover {
      background-color: rgba(39, 88, 107, 0.9);
      width: 100%;
      height: 500px;
      text-align: center;
      padding-top: 180px;
      -webkit-transition: 0.5s;
      transition: 0.5s;
      .btn {
        background-color: #E83F6F;
        border: 1px solid;
        border-color: #fff;
        transition: 1s;
      }

      h1 {
        color: $h-color;
        font-size: 46px;
        font-weight: 800;
        letter-spacing: 3px;
        -webkit-transition: 0.5s;
        transition: 0.5s;
        border: 5px;
        border-color: red;
      }
      h6 {
        color: #fff;
        font-weight: 400;
        font-size: 16px;
        -webkit-transition: 0.5s;
        transition: 0.5s
      }
    }
  }
  .second-serve {
    background-image: url('Marketing.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    width: 33.3%;
    height: 500px;
    #title-wrapper2 {
      background-color: rgba(0, 0, 0, 0.5);
      width: 100%;
      height: 500px;
      text-align: center;
      padding-top: 180px;
    }
    #title-wrapper2:hover {
      background-color: rgba(39, 88, 107, 0.9);
      width: 100%;
      height: 500px;
      text-align: center;
      padding-top: 180px;
      -webkit-transition: 0.5s;
      transition: 0.5s;
      .btn {
        background-color: #E83F6F;
        border: 1px solid;
        border-color: #fff;
        transition: 1s;
      }
      h1 {
        color: $h-color;
        font-size: 46px;
        font-weight: 800;
        letter-spacing: 3px;
        -webkit-transition: 0.5s;
        transition: 0.5s;
      }
      h6 {
        color: #fff;
        font-weight: 400;
        font-size: 16px;
        -webkit-transition: 0.5s;
        transition: 0.5s
      }
    }
  }
  .third-serve {
    background-image: url('Branding.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    width: 33.3%;
    height: 500px;
    #title-wrapper3 {
      background-color: rgba(0, 0, 0, 0.5);
      width: 100%;
      height: 500px;
      text-align: center;
      padding-top: 180px;
    }
    #title-wrapper3:hover {
      background-color: rgba(39, 88, 107, 0.9);
      width: 100%;
      height: 500px;
      text-align: center;
      padding-top: 180px;
      -webkit-transition: 0.5s;
      transition: 0.5s;
      .btn {
        background-color: #E83F6F;
        border: 1px solid;
        border-color: #fff;
        transition: 1s;
      }
      h1 {
        color: $h-color;
        font-size: 46px;
        font-weight: 800;
        letter-spacing: 3px;
        -webkit-transition: 0.5s;
        transition: 0.5s;
      }
      h6 {
        color: #fff;
        font-weight: 400;
        font-size: 16px;
        -webkit-transition: 0.5s;
        transition: 0.5s
      }
    }
  }
}
// Our Company section start here//
.company-image-section {
  .dot-cover{
    margin-top: 0px;
    padding-top: 30px;
    background-image: url('overlay-pattern.png');
    background-repeat: repeat;
    min-width: 100%;
    height: 700px;
    h1 {
      margin-top: 0px;
      color: $primary-color;
      font-size: 26px;
      font-weight: 800;
      -webkit-font-smoothing: antialiased;
    }
    hr {
      width: 150px;
    }
  }
  background-image: url('our-home.jpg');
  // background-position: fixed;
  min-width: 100%;
  height: 700px;
  margin-top: 0px;
  padding-top: 0px;
}


#quotation {
  .quote-wrapper{
    background-color: rgba(0,0,0, 0.9);
    width: 100%;
    height: 1200px;
    padding-top: 100px;
  }
  
  display: none;
//  background-color: rgba(0,0,0, 1.9);
	background-image: url('web2.jpg');
	img{webkit-filter: blur(5px); filter: blur(5px);}
  background-size: cover;
  width: 100%;
  height: 1200px;
  position: relative;
  top: 0;
  z-index: 100;
  h2 {color: #fff; padding-top: 30px; padding-bottom: 20px; font-size: 30px; font-weight: 600;}
  p {color: #fff; font-size: 14px; margin: 0; padding: 0; }
  .inner{
    padding-left: 150px;
    padding-right: 150px;
  }
  @media (max-width: 680px){
    .inner {
      padding-left: 0px;
      padding-right: 0px;
    }
    p {color: #fff; font-size: 12px; margin: 0; padding: 0 50px; }
    #quotation{padding-top: 0px;}
  }
  .quote {
    input {
      color: #fff;
      font-size: 20px;
      font-family: Open Sans, Roboto, San-serif;
    }
    textarea {
      color: #fff;
      font-size: 20px;
      font-family: Open Sans, Roboto, San-serif;
    }
    label {
      color: #02C39A;
      font-size: 18px;
      text-transform: uppercase;
    }
    button {
      color: #fff;
      margin: 0;
      padding: 0 20px;
      input{font-size: 18px; text-transform: lowercase; font-weight: 600;} 
      background-color: #48b86e;
      
    }
    button:hover {
      background-color: $h-color;
    }
  }
}
.modal{
  background-color: #fff; height: 250px; width: 500px;
  .modal-content{border: 0px;
    h4{font-size: 20px; letter-spacing: 2px;}
  }
}

//Our contact page start here//
#our-contact{
  background-image: url('call-us');
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
  min-height: 700px;
  width: 100%;
  position: relative;
  top: 0;
  left: -100;
  float: left;
  // -webkit-filter: blur(2px);
  // filter: blur(2px);

  .inner-contact{
    background-color: rgba(0,0,0, 0.2);
    height: 700px;
    .dotted-cover{
      background-image: url('overlay-pattern.png'); 
      background-repeat: repeat; height: 700px;
      #heading-text{
        h1{
          color: #fff;
          position: relative;
          top: 250px;
          font-size: 32px;
          font-weight: 800;
          letter-spacing: 2px;
        }
        ul li{
          position: relative;
          top: 190px;
          display: inline-block;
          i{font-size: 30px; color: #fff; padding: 0 5px;}
          i:hover{opacity: 0.8; }
          .fa-facebook-square{
            color: #1B98E0;
          }
          .fa-twitter-square{
            color: #06AED5;
          }
          .fa-youtube-square{
            color: red;
          }
          .fa-linkedin-square{
            color: #083D77;
          }
          .fa-google-plus-square{
            color: #dd4b39;
          }
        }
      }
      .quick-contact{
        position: relative;
        top: 200px;
        h6{color: #fff; font-size: 18px;}
        a.btn{
          background: none;
          border: 1px solid #fff;
        }
      }
    }
  }
}
#contact-us{
  .form{
    background-image: url('Google Maps');
    background-repeat: no-repeat;
    background-size: cover;
    height: 600px;
    // width: auto;
    height: 600px;
    .text-wrapper{
      padding-top: 200px;
      h6{
        font-size: 16px;
        color: #fff;
      }
    }
    .map-cover{
      background-color: rgba(0,0,0, 0.7);
      height: 600px;
    }
  }
  .address{
    // background-color: green;
    // width: auto;
    height: 600px;
  }
}







