@charset "utf-8";
@media #{$small-and-down} {
  // styles for small screens and down
}
@media #{$medium-and-up} {
  // styles for medium screens and larger
}
@media #{$medium-and-down} {
  // styles for medium screens and down
}
@media #{$large-and-up} {
  // styles for large screens and up
}


h1 {
  font-size: 26px;
  font-family: Dosis;
  font-width: 400;
  padding: 10px 0px 10px 0px;
  letter-spacing: 8px;
  font-variant: ExtraLight;
}
h2{
  font-size: 28px;
}
h3 {
  font-family: Open Sans;
  font-width: 300;
  font-variant: Light;
}
h4 {
  font-size: 18px;
  font-family: Open Sans;
  font-width: 300;
  font-variant: Light;
  color: grey;
  }
h6{
    font-weight: 700;
}
p{
  margin: 0 0 5em 0;
}
ul, ol{
    margin: 0 0 1.5em 0;
}

body{
  background-color: #fff;
  top: 0;
  z-index: -999;
}


 #nagbar{
  background-color: rgba(0, 0, 0, 0.2);
  height: 100px;
  padding-top: 20px;
  transition: height 0.3s linear 0s, padding 0.3s linear 0s;
  box-shadow: none;
}
#page-top{
   background-color: transparent !important;
}

.nav-wrapper{
	padding-left: 50px;
	padding-right: 50px;
}

h1 {
  font-family: $myfont;
}

.nav-wrapper ul li a{
  font-family: $myfont;
  font-size: 12px;
  font-width: 400;
  letter-spacing: 4px;
  padding-left: 5px;
  padding-right: 3px;
}

.nav-wrapper ul li a:hover{
  text-decoration: none !important;
  background: none;
  color: green;
}

.brand-logo img{
  width: 200px;
  height: 30px;
  padding: 0 40px 0 20px;
}
#nbtn {
  background-color: transparent;
  border: 1px solid #fff;
  border-radius: 20%;
}
///////////////////
//Video bacground//
///////////////////
.video-bg-wrapper{
  background-image: url('/workspace.jpg');
  top: -50;
  left: -50;
  width: 200%;
  height: 200%;
  width: auto;
  height: auto;
  overflow: hidden;
  
} 
#video-elem{
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  overflow: hidden;
  min-height: 100%;
  min-width: 100%;
  width: auto;
  height: auto;
  z-index: 0;
  opacity: 0.5;
  transition-property: opacity;

}
div#vtext h2, h4{
  font-family: $myfont !important;
  font-width: 600;
  letter-spacing: 3px;
}
button#vbtn {
  background-color: transparent;
  border: 1px solid #fff;
  color: #fff;
}
button#vbtn:hover{
  background-color: rgba(255, 255, 255, 0.5);
  color: #fff;
}


//////////////////////////
//end of video background//
//////////////////////////
#img-bg img{
  width: 100%;
  height: 80%;
  position: relative;
}

.chip-contianer{
  background-color: $main-color;
  height: 100px;
  padding-top: 20px;
  border: 5px;
  border-color: black solid;
  border-bottom: 1px solid;
}
.side-nav{
   background-color: #265D6A;
   
}
.sidebar-nav li a{
  color: #fff;
}
#footer-nav{
  background-color: $primary-color;
  min-height: 40px;
  padding-bottom: 0px;
  margin-bottom: 0px;
  border: none !important;
  border-radius: 0px;
}
.parallax-container{
  height: 800px;
}
#content-wrapper{
  position: absolute;
  top: 0;
  left: 0;
  min-width: 100%;
  min-height: 100%;
  width: auto;
  height: auto;
  padding-top: 0px;
}
.slider {
  padding-top: 0;
  margin-top: 0;
  top: 0px;
}
#slider-wrapper{
  background-color: black;
}














