!!!
%html
  %head
    %meta{:content => "text/html; charset=UTF-8", "http-equiv" => "Content-Type"}
    %title Onklick
    = stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true
    = javascript_include_tag 'application', 'data-turbolinks-track' => true
    %meta{:content => "width=500, initial-scale=1,", :name => "viewport"}
    %link{:href => "https://fonts.googleapis.com/icon?family=Material+Icons", :rel => "stylesheet"}
    %link{:href => "https://fonts.googleapis.com/css?family=Open+Sans:Light+300|Open+Sans|Dosis|Dosis:ExtraLight", :rel => "stylesheet", :type => "text/css"}
    = csrf_meta_tags
  %body
    / %p.notice= notice
    / %p.alert= alert
    = yield
    /= render "layouts/preload"