<!DOCTYPE html>
<html>
<head>
  <title>Onklick</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
  <link rel="stylesheet" type="text/css" href="https://fonts.googleapis.com/css?family=Open-San:light|Dosis:light,bold">
  <%= csrf_meta_tags %>
</head>
<body>

<%= yield %>

</body>
</html>
